<%= form_with url: task_repo_path(@task), method: :post, data: { turbo_frame: "_top" }, class: "flex flex-col gap-2" do |f| %>
  <%= f.label :name, "リポジトリ名", class: "text-sm font-semibold" %>
  <% has_name_error = @validation_name_error.present? %>
  <%= f.text_field :name, 
                  value: @name,
                  placeholder: "til", 
                  class: "input #{'input-error' if has_name_error} w-full placeholder:text-placeholder" %>
  
  <!-- リポジトリ名のエラーメッセージの表示 -->
  <% if has_name_error %>
    <p class="text-xs text-error font-bold"><%= @validation_name_error %></p>
  <% end %>

  <%= f.label :description, "説明文", class: "text-sm font-semibold" %>
  <% has_description_error = @validation_description_error.present? %>
  <%= f.text_area :description, 
                  value: @description,
                  rows: 4, 
                  placeholder: "今日学んだことを記録するリポジトリ",
                  class: "textarea #{'textarea-error' if has_description_error} w-full placeholder:text-placeholder" %>

  <!-- 説明文のエラーメッセージの表示 -->
  <% if has_description_error %>
    <p class="text-xs text-error font-bold"><%= @validation_description_error %></p>
  <% end %>

  <div class="flex flex-col gap-3">
    <label class="label">
      <!-- checkboxはString型を返すため、
           checked時はparams[:repo][:private]="true",
           unchecked時はparams[:repo][:private]="false"を送信 -->
      <%= f.check_box :private, { checked: false, class: "checkbox checkbox-sm checkbox-neutral" }, true, false %>
      <span class="text-sm text-muted">非公開に設定</span>
    </label>

    <label class="label">
      <%= f.check_box :auto_init, { checked: false, class: "checkbox checkbox-sm checkbox-neutral" }, true, false %>
      <span class="text-sm text-muted">READMEを追加</span>
    </label>
  </div>

  <div class="flex justify-end">
    <%= f.submit "GitHubリポジトリを作成", class: "btn btn-primary rounded-full shadow-none w-full" %>
  </div>
<% end %>
