<div class="flex flex-col gap-4">
  <div class="flex justify-between items-center">
    <!-- タイトル -->
    <p class="text-2xl font-bold text-dark-green"><%= task.title %></p>
    <!-- 編集ボタン -->
    <%= link_to edit_task_path(task), class: "btn btn-circle btn-ghost text-neutral border-none shadow-none hover:bg-neutral/10" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="size-6">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" />
      </svg>
    <% end %>
  </div>

  <div class="flex justify-start items-center gap-4">
    <!-- ステータスバッジ -->
    <%= turbo_frame_tag "task_status_badge" do %>
      <%= render 'tasks/status_badge', task: task %>
    <% end %>
    
    <!-- タグ一覧 -->
    <div class="flex flex-wrap gap-2">
      <%= render partial: "tasks/tag_badge", collection: task.tags, as: :tag %>
    </div>
  </div>
  
  <div class="divider"></div>
</div>
