<%= link_to task_path(task) do %>
  <div class="card bg-surface border border-subtle
              h-full hover:bg-surface-hover hover:shadow-sm">
    <div class="card-body h-full">
      <div class="flex items-center gap-2 pr-10">
        <!-- ステータスアイコン -->
        <%= render 'tasks/status_icon', task: task %>

        <!-- タイトル -->
        <h2 class="card-title text-base font-normal line-clamp-1"><%= task.title %></h2>
      </div>

      <!-- タグ一覧 -->
      <div class="card-actions flex-1">
        <%= render partial: "tasks/tag_badge",
                  collection: task.tags,
                  as: :tag,
                  locals: { size: "badge-sm" } %>
      </div>
      <div class="flex justify-start">
        <!-- 作成日 -->
        <p class="text-muted">
          作成日: <%= task.created_at.strftime("%Y年%m月%d日 %H:%M") %>
        </p>
      </div>
    </div>
  </div>
<% end %>
