<div class="flex flex-col h-full gap-10 px-20 py-10">
  <!-- タスクのメイン情報セクション -->
  <%= render 'tasks/task_content', task: @task %>

  <% unless @task.todo? %>
    <div class="flex justify-center">
      <!-- 投稿セクション -->
      <div class="flex-1 flex flex-col justify-between w-full">
        <!-- 投稿一覧 -->
        <%= turbo_frame_tag "posts" do %>
          <% if @posts.any? %>
            <%#= 🎓 render @posts の記述では、scan_rubyのエラーが発生するため、以下のようにパーシャルは明示的に指定 %> 
            <%= render partial: "posts/post", collection: @posts %>
          <% else %>
            <%= turbo_frame_tag "posts_empty_state" do %>
              <p class="text-center text-custom-gray">まだ投稿はありません</p>
            <% end %>
          <% end %>
        <% end %>

        <!-- 投稿フォーム -->
        <% if @task.doing? %>
          <%= turbo_frame_tag "post_form" do %>
            <%= render 'posts/form', task: @task, post: @post %>
          <% end %>
        <% end %>
      </div>

      <div class="divider divider-horizontal"></div>

      <!-- タスクのサブ情報セクション -->
      <div class="flex flex-col items-start max-w-sm w-full">
        <% if @task.doing? %>
          <!-- やることリスト -->
          <div class="flex flex-col gap-2">
            <p class="text-md text-neutral font-semibold">やることリスト</p>
            <%= render partial: "todos/todo", collection: @task.todos %>
          </div>
          <%= render 'tasks/status_button', task: @task %>
        <% elsif @task.done? %>
          <!-- TIL 作成カード -->
          <div class="card bg-base-200 shadow-sm">
            <div class="card-body">
              <%= turbo_frame_tag "til" do %>
                <% if current_user.github_token.present? %>
                  <div class="card-actions justify-center">
                    <%= link_to new_task_til_path(@task), data: { turbo_frame: "til" }, class: "btn btn-primary" do %>
                      GitHubリポジトリにTILを保存
                    <% end %>
                  </div>
                <% else %>
                  <div class="card-actions justify-center">
                    <%= button_to user_github_omniauth_authorize_path, method: :post, data: { turbo: false }, params: { origin: task_url(@task) }, class: "btn btn-primary" do %>
                      GitHubと連携しTILを保存
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <%= render 'tasks/status_button', task: @task %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>