<div class="bg-white rounded-lg shadow-lg p-6 relative m-10">
  <!-- ðŸ› ã‚¿ã‚¹ã‚¯é …ç›®ã‚«ãƒ¼ãƒ‰ã®å†…å®¹ã‚’ãƒ‘ãƒ¼ã‚·ãƒ£ãƒ«ã«ç§»ã—ãŸãŒã€äºŒé‡ã§todoãƒªã‚¹ãƒˆãŒè¡¨ç¤ºã•ã‚Œã‚‹ãƒã‚°ãŒç™ºç”Ÿã—ã¦ãŠã‚Šã€hotwireã®turbo_frameãŒå½±éŸ¿ã‚’åŠã¼ã—ã¦ã„ã‚‹å¯èƒ½æ€§ãŒé«˜ã„ -->
  <%#= render "tasks/task_content" %>
  <!-- ã‚¿ã‚¤ãƒˆãƒ« -->
  <div class="flex flex-col gap-4">
    <div class="flex justify-between">
      <p class="text-2xl font-bold mb-6">
        <%= @task.title %>
      </p>

      <!-- ç·¨é›†ãƒœã‚¿ãƒ³ -->
      <%= link_to edit_task_path(@task), class: "btn btn-primary" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
        </svg>
        ç·¨é›†
      <% end %>
    </div>

    <!-- ã‚¿ã‚° -->
    <% if @task.tags.any? %>
      <div class="flex flex-wrap gap-2 mb-8">
        <% @task.tags.each do |tag| %>
          <span class="badge badge-primary">#<%= tag.name %></span>
        <% end %>
      </div>
    <% end %>

    <!-- ã‚¿ã‚¹ã‚¯ã®Todoãƒªã‚¹ãƒˆ -->
    <div class="flex justify-between">
      <div class="flex flex-col gap-2" data-controller="todo-toggle">
        <% @task.todos.each do |todo| %>
          <%= render "todos/todo", todo: todo %>
        <% end %>
      </div>
      <!-- å®Œäº†ãƒœã‚¿ãƒ³ -->
      <div class="flex flex-col justify-end">
        <%= link_to "#", class: "btn btn-secondary" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
          å®Œäº†
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- æˆ»ã‚‹ãƒœã‚¿ãƒ³ -->
<div class="mt-6 text-center">
  <%= link_to tasks_path, class: "btn btn-primary" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
    </svg>
    æˆ»ã‚‹
  <% end %>
</div>
