<div class="flex flex-col h-full gap-10 px-20 py-10 bg-custom-white rounded-lg min-h-screen">
  <!-- タスク項目 -->
  <%= render 'tasks/task_content', task: @task %>

  <!-- 投稿一覧 -->
  <%= turbo_frame_tag "posts" do %>
    <% if @posts.any? %>
      <%#= render @posts の記述では、scan_rubyのエラーが発生するため、以下のようにパーシャルは明示的に指定 %> 
      <%= render partial: "posts/post", collection: @posts %>
    <% end %>
  <% end %>

  <!-- 投稿フォーム -->
  <%= turbo_frame_tag "post_form" do %>
    <%= render 'posts/form', task: @task, post: @post %>
  <% end %>
</div>
