<div class="flex flex-col h-full px-20 py-10">
  <!-- タスクのメイン情報セクション -->
  <%= render 'tasks/task_content', task: @task %>

  <% if @task.todo? %>
    <div class="flex justify-center">
      <div class="flex flex-col gap-6 p-12 max-w-2xl w-full">
        <!-- ToDoセクション -->
        <div class="card bg-base-200 shadow-sm w-full mb-1">
          <%= turbo_frame_tag "todos_section" do %>
            <div class="card-body">
              <%= render 'tasks/todos_section', task: @task %>
            </div>
          <% end %>
        </div>

        <!-- ボタン群 -->
        <div class="flex flex-col items-start gap-1 w-full">
          <%= render 'tasks/status_button', task: @task %>
          <%= render 'tasks/destroy_button', task: @task %>
        </div>
      </div>
    </div>
  <% elsif @task.doing? %>
    <div class="flex justify-center min-h-screen">
      <!-- ポストセクション -->
      <%= render 'tasks/posts_section', task: @task, post: @post %>

      <div class="divider divider-horizontal"></div>

      <!-- タスクのサブ情報サイドバー -->
      <div class="flex flex-col items-start gap-1 max-w-sm w-full">
        <%= render 'tasks/doing_sidebar', task: @task %>
      </div>
    </div>
  <% elsif @task.done? %>
    <div class="flex justify-center min-h-screen">
      <!-- ポストセクション -->
      <%= render 'tasks/posts_section', task: @task, post: @post %>

      <div class="divider divider-horizontal"></div>

      <!-- タスクのサブ情報サイドバー -->
      <div class="flex flex-col items-start gap-1 max-w-xl w-full">
        <%= render 'tasks/done_sidebar', task: @task %>
      </div>
    </div>
  <% end %>
</div>