<%= turbo_stream.update "todo_section" do %>
  <div class="card-body">
    <div data-controller="todo-section">
      <div data-todo-section-target="todoList" class="<%= 'hidden' if @task.todos.empty? %>">
        <%= render 'tasks/todo_list', task: @task %>
      </div>
      <div data-todo-section-target="todoForm" class="<%= 'hidden' unless @task.todos.empty? %>">
        <%= render 'tasks/todo_form', task: @task %>
      </div>
    </div>
  </div>
<% end %>
