<header class="bg-base-100 text-base-content rounded-lg">
  <div class="flex justify-between items-center p-4 gap-10">
    <%= link_to (user_signed_in? ? tasks_path : root_path) do %>
      <%= image_tag "logo.svg", class: "flex-none h-10 w-auto" %>
    <% end %>
    <% if !auth_page? %>
      <% if user_signed_in? %>
        <div class="flex-1 flex justify-start items-center gap-10">
          <%= link_to "タスクページをみる", tasks_path, class: "text-lg text-base-content/80 hover:text-base-content transition-colors" %>
        </div>
        <% if current_user.guest_user? %>
          <!-- ゲストユーザーの場合はログアウトボタンのみ表示 -->
          <%= link_to "ログアウト", destroy_user_session_path,
              data: { 
                turbo_method: :delete,
                turbo_frame: "_top"
              },
              class: "btn btn-neutral rounded-full" %>
        <% else %>
          <!-- その他のユーザーの場合はユーザーメニューを表示 -->
          <%= render 'shared/user_menu' %>
        <% end %>
      <% else %>
        <div class="flex-none flex gap-2">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-neutral rounded-full" %>
          <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-outline btn-neutral rounded-full" %>
        </div>
      <% end %>
    <% end %>
  </div>
</header> 
