<header class="bg-custom-white rounded-lg">
  <div class="flex justify-between items-center p-4 gap-10">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", class: "flex-none" %>
    <% end %>
    <% if !auth_page? %>
      <div class="flex-1 flex justify-start items-center gap-10">
        <%= link_to "タスクをみる", tasks_path, class: "text-lg text-custom-dark-green/80 hover:text-custom-dark-green transition-colors" %>
      </div>
      <% if user_signed_in? %>
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10">
              <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
            </svg>
          </div>
          <ul tabindex="-1" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <li>
              <%= link_to '#' do %>
                アカウント設定
              <% end %>
            </li>
            <li>
              <%= button_to destroy_user_session_path, method: :delete do %>
                ログアウト
              <% end %>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="flex-none flex gap-2">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-neutral rounded-full" %>
          <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-outline btn-neutral rounded-full" %>
        </div>
      <% end %>
    <% end %>
  </div>
</header> 
