<header class="bg-custom-white rounded-lg">
  <div class="flex justify-between items-center p-4 gap-10">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", class: "flex-none" %>
    <% end %>
    <% if !auth_page? %>
      <div class="flex-1 flex justify-start items-center gap-10">
        <%= link_to "タスクをみる", tasks_path, class: "text-custom-dark-green hover:text-custom-dark-green transition-colors" %>
      </div>
      <% if user_signed_in? %>
        <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "flex-none btn btn-sm bg-custom-dark-green border-custom-dark-green hover:bg-custom-dark-green/80 hover:border-custom-dark-green/80 text-sm text-custom-white rounded-full" %>
      <% else %>
        <div class="flex-none flex gap-2">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-sm bg-custom-dark-green border-custom-dark-green hover:bg-custom-dark-green/80 hover:border-custom-dark-green/80 text-sm text-custom-white rounded-full" %>
          <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-sm btn-outline bg-custom-white border-custom-dark-green text-sm text-custom-dark-green hover:bg-custom-dark-green hover:text-custom-white rounded-full" %>
        </div>
      <% end %>
    <% end %>
  </div>
</header> 
