<header class="bg-slate-200">
  <div class="flex justify-between items-center p-4 gap-10">
    <%= image_tag "logo.png", class: "flex-none size-16" %>
    <div class="flex-1 flex justify-start items-center gap-10">
      <%= link_to "タスクをみる", "#" %>
      <%= link_to "マイリスト", "#" %>
      <%= link_to "さがす", "#" %>
    </div>
    <%= link_to "ログイン", new_user_session_path, class: "flex-none btn btn-primary" %>
  </div>
</header> 