<%= turbo_frame_tag todo do %>
  <%= form_with model: [todo.task, todo], local: false, class: "flex items-center gap-2" do |f| %>
    <%= f.check_box :done, 
        class: "checkbox bg-custom-cream border-custom-brown", 
        checked: todo.done?,
        data: { action: "change->todo-toggle#toggle" },
        style: "--chkbg: #674636; --chkfg: #FFF8E8;" %>
    <span class="<%= todo.done? ? 'line-through text-custom-brown/50' : 'text-custom-brown' %>">
      <%= todo.body %>
    </span>
  <% end %>
<% end %> 