<%= form_with model: post, url: task_posts_path(task), method: :post, class: "flex flex-col gap-1", id: "document-post-form" do |f| %>
  <%= f.hidden_field :postable_type, value: "DocumentPost" %>
  
  <div class="form-control">
    <%= f.fields_for :postable_attributes, (post.postable.is_a?(DocumentPost) ? post.postable.document : Document.new) do |document_post_form| %>
      <%= document_post_form.text_field :url, 
          placeholder: "参照した資料のURLを貼り付けてください(ex. https://docs.example.com)", 
          class: "input input-ghost w-full text-neutral placeholder:text-neutral/50 focus:outline-none",
          autocomplete: "off" %>
    <% end %>
  </div>
  <div class="flex justify-end gap-4">
    <%= f.submit "送信", class: "btn btn-neutral rounded-full shadow-none" %>
  </div>
<% end %>

