<!-- ポスト投稿フォーム（TextPost投稿フォームとDocumentPost投稿フォームをタブ切り替え） -->
<div role="tablist" class="tabs tabs-box">
  
  <!-- TextPost タブ -->
  <input type="radio" 
          name="post_type" 
          role="tab" 
          class="tab text-custom-dark-green"
          aria-label="メモ" 
          <%= 'checked' if post.postable_type.blank? || post.postable_type == 'TextPost' %> />
  <div role="tabpanel" class="tab-content bg-custom-white border-custom-light-gray/50 rounded-box p-1">
    <!-- TextPost エラーメッセージ -->
    <% if post.postable_type.blank? || post.postable_type == 'TextPost' %>
      <%= render 'posts/post_error_messages', post: post %>
    <% end %>
    
    <!-- TextPost フォーム -->
    <%= form_with model: post, url: task_posts_path(task), method: :post, class: "flex flex-col gap-1", id: "text-post-form" do |f| %>
      <%= f.hidden_field :postable_type, value: "TextPost" %>
      
      <div class="form-control">
        <%= f.fields_for :postable_attributes, (post.postable.is_a?(TextPost) ? post.postable : TextPost.new) do |text_post_form| %>
          <%= text_post_form.text_area :body, 
              placeholder: "調べたことや思いついたことを書きましょう", 
              class: "textarea textarea-ghost w-full h-24 text-neutral placeholder:text-neutral/50 focus:outline-none" %>
        <% end %>
      </div>
      <div class="flex justify-end gap-4">
        <%= f.submit "送信", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <!-- DocumentPost タブ -->
  <input type="radio" 
          name="post_type" 
          role="tab" 
          class="tab text-custom-dark-green"
          aria-label="参照URL" 
          <%= 'checked' if post.postable_type == 'DocumentPost' %> />
  <div role="tabpanel" class="tab-content bg-custom-white border-custom-light-gray/50 rounded-box p-6">
    <!-- DocumentPost エラーメッセージ -->
    <% if post.postable_type == 'DocumentPost' %>
      <%= render 'posts/post_error_messages', post: post %>
    <% end %>
    
    <!-- DocumentPost フォーム -->
    <%= form_with model: post, url: task_posts_path(task), method: :post, class: "space-y-4", id: "document-post-form" do |f| %>
      <%= f.hidden_field :postable_type, value: "DocumentPost" %>
      
      <div class="form-control">
        <%= f.fields_for :postable_attributes, (post.postable.is_a?(DocumentPost) ? post.postable.document : Document.new) do |document_post_form| %>
          <%= document_post_form.text_field :url, 
              placeholder: "https://docs.example.com", 
              class: "input input-ghost w-full text-neutral placeholder:text-neutral/50 focus:outline-none" %>
        <% end %>
      </div>
      <div class="flex justify-end gap-4">
        <%= f.submit "送信", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
