<div class="flex flex-col gap-4">
  <%= form_with model: post, url: task_posts_path(task), method: :post, local: true, class: "space-y-4", html: { id: "post_form_#{task.id}" } do |form| %>
    <div class="form-control">
      <%= form.fields_for :postable_attributes do |text_post_form| %>
        <%= text_post_form.text_area :body, 
            placeholder: "コメントを入力してください...", 
            class: "textarea textarea-bordered w-full h-24 bg-custom-white border-custom-dark-green text-custom-dark-green focus:border-custom-dark-green focus:ring-2 focus:ring-custom-dark-green/20 focus:outline-none placeholder:text-custom-dark-green/50" %>
      <% end %>
    </div>
    <!-- ⚠️ この実装では、完了ボタンを押しても、patchリクエストのurlがtask_post_path(task)になってしまい、ルーティングエラーが発生する。
      そのため、form_withタグの外でボタン群を実装することで、完了ボタンを押した時、patchリクエストは正常に動作し、タスクのステータスをトグルすることができた。 -->
      <%# <div class="flex justify-end gap-4">
      <%#   <%= render "tasks/status_buttons", task: task %>
      <%#   <%= form.submit "投稿", class: "btn bg-custom-sage hover:bg-custom-sage-dark text-custom-cream border-none" %>
      <%# </div> %>
  <% end %>

  <div class="flex justify-end gap-4">
    <%= render "tasks/status_buttons", task: task %>
    <!-- ⚠️ 現在の実装では、投稿ボタンはform_with外に設置している。もし完了ボタンを廃止する場合には、form_with内に投稿ボタンを移動する。 -->
    <button type="submit" form="post_form_<%= task.id %>" class="btn bg-custom-green hover:bg-custom-green/80 text-white border-none">
      投稿
    </button>
  </div>
</div> 