<!-- ポスト投稿フォーム（TextPost投稿フォームとDocumentPost投稿フォームをタブ切り替え） -->
<div role="tablist" class="tabs tabs-box">
  
  <!-- TextPost タブ -->
  <input type="radio" 
          name="post_type" 
          role="tab" 
          class="tab text-custom-dark-green"
          aria-label="メモ" 
          <%= 'checked' if post.postable_type.blank? || post.postable_type == 'TextPost' %> />
  <div role="tabpanel" class="tab-content bg-custom-off-white rounded-box p-1">
    <!-- TextPost エラーメッセージ -->
    <% if post.postable_type.blank? || post.postable_type == 'TextPost' %>
      <%= render 'posts/post_error_messages', post: post %>
    <% end %>
    
    <!-- TextPost フォーム -->
    <%= render 'posts/text_post_form', post: post, task: task %>
  </div>

  <!-- DocumentPost タブ -->
  <input type="radio" 
          name="post_type" 
          role="tab" 
          class="tab text-custom-dark-green"
          aria-label="参照URL" 
          <%= 'checked' if post.postable_type == 'DocumentPost' %> />
  <div role="tabpanel" class="tab-content bg-custom-off-white rounded-box p-1">
    <!-- DocumentPost エラーメッセージ -->
    <% if post.postable_type == 'DocumentPost' %>
      <%= render 'posts/post_error_messages', post: post %>
    <% end %>
    
    <!-- DocumentPost フォーム -->
    <%= render 'posts/document_post_form', post: post, task: task %>
  </div>
</div>
