<div class="flex flex-col gap-4">
  <%= form_with model: post, url: task_posts_path(task), method: :post, class: "space-y-4", html: { id: "post_form_#{task.id}" } do |f| %>
    <!-- postable_typeを明示的に指定 -->
    <%= f.hidden_field :postable_type, value: "TextPost" %>
    
    <div class="form-control">
      <%= f.fields_for :postable_attributes do |text_post_form| %>
        <%= text_post_form.text_area :body, 
            placeholder: "コメントを入力してください...", 
            class: "textarea textarea-bordered w-full h-24 bg-custom-white border-custom-dark-green text-custom-dark-green focus:border-custom-dark-green focus:ring-2 focus:ring-custom-dark-green/20 focus:outline-none placeholder:text-custom-dark-green/50" %>
      <% end %>
    </div>
    <div class="flex justify-end gap-4">
      <%= f.submit "投稿", class: "btn bg-custom-green hover:bg-custom-green/80 text-custom-white border-none" %>
    </div>
  <% end %>

  <!-- ⚠️ 上記のform_withタグ内で実装を行なっても、完了ボタンを押した場合、patchリクエストのurlがtask_post_path(task)になってしまい、ルーティングエラーが発生する。
    そのため、form_withタグの外でボタン群を実装することで、完了ボタンを押した時、patchリクエストは正常に動作し、タスクのステータスをトグルすることができた。
    しかし、form_withタグ外で送信ボタンを実装する場合、Turboフレームの制御が難しくなるため、タスクステータスの完了ボタンは廃止し、タスク項目画面右上に実装する予定-->
  <!-- <div class="flex justify-end gap-4"> %-->
    <%#= render "tasks/status_buttons", task: task %>
    <!-- <button type="submit" form="post_form_task.id" class="btn bg-custom-green hover:bg-custom-green/80 text-custom-white border-none">
      投稿
    </button> -->
  <!-- </div> -->
</div> 