<%= turbo_frame_tag "post_#{post.id}" do %>
  <div class="px-6 py-2" 
      data-controller="post-context-menu" 
      data-post-context-menu-hidden-class="hidden"
      data-post-context-menu-open-class="dropdown-open"
      data-post-context-menu-fading-class="opacity-0">
    
    <!-- 投稿内容 -->
    <div class="chat chat-start">
      <div class="chat-header">
        <span class="text-sm font-medium text-custom-dark-green">
          <%= post.user.name %>
        </span>
        <span class="text-xs text-custom-dark-green/70 ml-2">
          <%= post.created_at.strftime("%Y年%m月%d日 %H:%M") %>
        </span>
      </div>
      <div class="chat-bubble bg-custom-off-white text-custom-dark-green border-none"
            data-post-context-menu-target="chatBubble"
            data-action="contextmenu->post-context-menu#showMenu">
        <%= post.postable.body %>
      </div>
    </div>

    <!-- 投稿のコンテキストメニュー -->
    <%= render "posts/context_menu", post: post %>
  </div>
<% end %>
