<!-- エラーメッセージの表示 -->
<% if @validation_error.present? %>
  <div class="alert alert-error alert-soft">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span><%= @validation_error %></span>
  </div>
<% end %>

<%= form_with url: task_til_path(@task), method: :post, data: { turbo_frame: "til" }, class: "flex flex-col gap-2" do |f| %>
  <%= f.hidden_field :repo, value: @selected_repo %>
  <%= f.label :path, "新しいmdファイルのパス名", class: "label text-sm text-neutral font-semibold" %>
  <%= f.text_field :path, 
                  value: @path,
                  placeholder: "category/today_i_learned.md", 
                  class: "input input-bordered input-neutral w-full" %>
  <%= f.label :message, "コミットメッセージ", class: "label text-sm text-neutral font-semibold" %>
  <%= f.text_field :message, 
                  value: @message || "Add TIL: #{(@task.title || 'task')}", 
                  class: "input input-bordered input-neutral w-full" %>
  <%= f.label :body, "mdファイルの内容", class: "label text-sm text-neutral font-semibold" %>
  <%= f.text_area :body, 
                  value: @body,
                  rows: 16, 
                  placeholder: "今日学んだことを記録しましょう",
                  class: "textarea textarea-bordered text-area-neutral w-full" %>
  <div class="flex justify-end">
    <%= f.submit "GitHubリポジトリに保存", class: "btn btn-primary rounded-full shadow-none w-full" %>
  </div>
<% end %>